@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    background-color: orangered;
}

header h1 {
    text-align: center;
    color: white;
}

main {
    border-radius: 20px;
    margin: auto;
    background-color: white;
    max-width: 420px;
    padding: 10px;
}

select {
    width: 150px;
}

div#res {
    text-align: center;
}

footer {
    text-align: center;
    color: white;
}